PUBLIC_ACCOUNT_SERVER_URL=
PUBLIC_PIZCLOUD_SERVER_URL=
PUBLIC_MAIN_DOMAIN=photocloudbox.com
PUBLIC_DEFAULT_SERVICE_NAME=photos_dev
PUBLIC_PIZCLOUD_CLIENT_TELEMETRY_ENABLED=true
PUBLIC_PIZCLOUD_CLIENT_TELEMETRY_CONSOLE_ENABLED=false
PUBLIC_PIZCLOUD_CLIENT_APP_VERSION=
PUBLIC_PIZCLOUD_CLIENT_BUILD_NUMBER=
